/* Start Globals */
:root {
    --main-color: #00c7fc;
    --secondary-color: #eee;
    --background-color: #eee;
    --section-padding: 60px;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Globals */


/* Start Header */

header {
    background-image: url("../images/software.jpg");
    height: 100vh;
    background-size: cover;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .container::after {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 3px;
    background-color: var(--secondary-color);
    bottom: 0;
}

header .container .logo {
    
}

header .container .logo img {
    width: 200px;
}

header .container nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

header .container nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .container nav ul li:first-of-type::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: var(--main-color);
    bottom: 0;
    left: 215px;
    z-index: 1;
}

header .container nav ul li a {
    color: white;
}

/* End Header */